@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;800;900&display=swap");
.btn {
  border: 2px solid #2980b9;
  text-decoration: none;
  color: #ecf0f1;
  display: block;
  margin: 20px 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 280px;
  line-height: 63px;
}

.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.left::before {
  top: 0%;
  left: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.right::before {
  top: 0;
  right: 0;
}

.mid::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top::before {
  left: 0;
  top: 0;
}

.bottom::before {
  left: 0;
  bottom: 0;
}

.btn1::before {
  width: 0;
  height: 100%;
  background: #2980b9;
}

.btn1:hover::before {
  width: 100%;
}

.btn2::before {
  width: 100%;
  height: 0;
  background: #2980b9;
}

.btn2:hover::before {
  height: 100%;
}

.btn3::before {
  width: 100%;
  height: 0;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  background: #2980b9;
}

.btn3:hover::before {
  height: 380%;
}

.btn4::before {
  width: 100%;
  height: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.btn4:hover::before {
  height: 380%;
}

.grow::before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  background: #2980b9;
}

.grow:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.grow_ellipse::before {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  line-height: 8.34em;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  background: #2980b9;
}

.grow_ellipse:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.grow_spin::before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: scale(0, 0) rotate(-180deg);
          transform: scale(0, 0) rotate(-180deg);
  background: #2980b9;
}

.grow_spin:hover::before {
  -webkit-transform: scale(1, 1) rotate(0deg);
          transform: scale(1, 1) rotate(0deg);
}

.svgDraw {
  border: none;
}

.svgDraw svg {
  height: 62px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.svgDraw rect {
  fill: none;
  stroke: #2980b9;
  stroke-width: 4;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

.svgDraw:hover rect {
  stroke-width: 5;
  stroke-dasharray: 45, 465;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.svgLine {
  border: none;
  padding: 0;
}

.svgLine:after,
.svgLine:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(41, 128, 185, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.svgLine:hover:after,
.svgLine:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #2980b9;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.svgLine:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  padding-right: 25px;
}

.nav .links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.nav .links .link {
  display: inline-block;
  margin: 12px 0;
}

.nav .links .link a {
  font-size: 16px;
  text-transform: uppercase;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  position: relative;
  height: 100%;
  padding: 6px 0;
}

.nav .links .link a:hover::after {
  width: 100%;
}

.nav .links .link a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  border-bottom: 4px solid #2980b9;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #95a5a6;
  font-family: "Montserrat", sans-serif;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  top: 50%;
}

.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
}

dfn {
  background: rgba(0, 0, 0, 0.2);
  border-bottom: dashed 1px rgba(0, 0, 0, 0.8);
  padding: 0 0.4em;
  cursor: help;
  font-style: normal;
  position: relative;
}

dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px;
  left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  pointer-events: none;
  /* This prevents the box from apearing when hovered. */
  -webkit-transition: opacity 250ms, top 250ms;
  transition: opacity 250ms, top 250ms;
}

dfn::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  opacity: 0;
  width: 0;
  height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 250ms, top 250ms;
  transition: opacity 250ms, top 250ms;
}

dfn:hover {
  z-index: 2;
}

/* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {
  opacity: 1;
}

dfn:hover::after {
  top: 30px;
}

dfn:hover::before {
  top: 20px;
}

.spacer {
  margin: 25px 0;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  color: #ecf0f1;
  letter-spacing: 0.7px;
  gap: 30px;
}

.spacer::after, .spacer::before {
  content: "";
  height: 3px;
  width: 150px;
  background: #ecf0f1;
}
/*# sourceMappingURL=main.css.map */